.gallery-thumbnails {
  position: relative;

  &__button-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    left: 4px;
    z-index: 1;

    @mixin atMedium {
      left: 23px;
    }

    @mixin atLarge {
      left: 43px;
    }

    & img {
      &:hover {
        transition: all 0.5s ease-out;
        transform: scale(1.1);
      }
    }
  }

  &__button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    right: 0;
    z-index: 1;

    & img {
      &:hover {
        transition: all 0.5s ease-out;
        transform: scale(1.1);
      }
    }
  }

  &--slides {
    transition: all 1s ease-out;
  }

  &__container__slide {
    float: left;
  }

  &__container {
    box-sizing: border-box;
    width: 300px;
    height: 390px;
    border: 1px solid darkgray;
    margin: 0 40px 0 0;

    @mixin atMedium {
      margin: 0 20px;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    &__big-img {
      box-sizing: border-box;
      width: 198px;
      height: 302px;
      float: left;
      margin-right: 2px;
    }

    &__small-img {
      box-sizing: border-box;
      width: 98px;
      height: 150px;
      float: left;
      margin-bottom: 2px;
    }

    &__subtitle {
      box-sizing: border-box;
      clear: both;
      text-align: center;
      padding: 16px;
      color: darkgray;
    }
  }

  &__title {
    font-size: 4em;
    margin: 0.67em 0;
    text-align: center;
    color: #292828;
    font-weight: 300;
  }
}
