.huge-icon-section {
    &_div {
        text-align: center;

        &_icon {
            width: 32%;
        }

        &_title {
            font-size: 2rem;
            color: $mainBlue;
        }
    }
}