.row {
  @mixin clearBoth;

  &__medium-12 {
    @mixin atMedium {
      float: left;
      width: 100%;
    }
  }

  &__medium-10 {
    @mixin atMedium {
      float: left;
      width: 83.33%;
    }
  }

  &__medium-8 {
    @mixin atMedium {
      float: left;
      width: 66.66%;
    }
  }

  &__medium-7 {
    @mixin atMedium {
      float: left;
      width: 58.33%;
    }
  }

  &__medium-6 {
    @mixin atMedium {
      float: left;
      width: 50%;
    }
  }

  &__medium-5 {
    @mixin atMedium {
      float: left;
      width: 41.66%;
    }
  }

  &__medium-4 {
    @mixin atMedium {
      float: left;
      width: 33.33%;
    }
  }
  &__medium-3 {
    @mixin atMedium {
      float: left;
      width: 25%;
    }
  }

  &__medium-2 {
    @mixin atMedium {
      float: left;
      width: 16.66%;
    }
  }

  &__small-12 {
    @mixin atSmall {
      float: left;
      width: 100%;
    }
  }

  &__small-6 {
    @mixin atSmall {
      float: left;
      width: 50%;
    }
  }

  &__small-4 {
    @mixin atSmall {
      float: left;
      width: 33.33%;
    }
  }

  &__small-2 {
    @mixin atSmall {
      float: left;
      width: 16.66%;
    }
  }
  &__gutter-right {
    padding-right: 0.237rem;

    &-md {
      padding-right: 0;

      @mixin atMedium {
        padding-right: 0.237rem;
      }
    }

    &-sm {
      padding-right: 0;

      @mixin atSmall {
        padding-right: 0.237rem;
      }
    }
  }

  &__gutter-left {
    padding-left: 0.237rem;

    &-md {
      padding-left: 0;

      @mixin atMedium {
        padding-left: 0.237rem;
      }
    }

    &-sm {
      padding-left: 0;

      @mixin atSmall {
        padding-left: 0.237rem;
      }
    }
  }

  &__gutter-top {
    padding-top: 0.237rem;

    &-md {
      padding-top: 0;

      @mixin atMedium {
        padding-top: 0.237rem;
      }
    }
  }

  &__gutter-bottom {
    padding-bottom: 0.237rem;

    &-md {
      padding-bottom: 0;

      @mixin atMedium {
        padding-bottom: 0.237rem;
      }
    }
  }
}
