.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  overflow: hidden;

  &--noTopPadding {
    padding-top: 0;
    padding-bottom: 0;
  }

  @mixin atMedium {
    width: 760px;
  }

  @mixin atLarge {
    width: 960px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @mixin atXLarge {
    width: 1150px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &--infinite {
    width: 50000px;
  }

  &--maxWidth {
    width: 100%;
  }
}
